$body-font: "Poppins", sans-serif;
$heading-font: "Raleway", sans-serif;

$primary-color: #023047;
$secondary-color: #da722c;
$light-color: #e8f7fb;
$white: #fff;
$blue-color: #6f7dfb;
$dark-color: #070917;
$black: #000;
$hero-linear-gradient: linear-gradient(#6f7dfb, #26308c);
$text-color: $primary-color;
$text-color-alt-1: $white;
$text-color-alt-2: $secondary-color;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;
$z-tooltip: 10;
$z-fix: 100;
$z-under: -1;
